body {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.Calculator {
    width: 400px;
    height: 400px;
    position: relative;
    margin: 25px;
    border: solid black;
}
